SECRET_KEY=
DATABASE_URL=mysql+pymysql://root:@localhost:3308/rejonik
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_WA_NUMBER=
DB_ROOT_PASSWORD=
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
APP_ENV=development
ORDER_KEDALUWARSA_JAM=
RATE_LIMIT_ORDER_MAKS=
RATE_LIMIT_LOGIN_MAKS=
RATE_LIMIT_AKTIF=true
CAPTCHA_AKTIF=false
TURNSTILE_SECRET_KEY=